* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#a5f3fc, #38bdf8, #1d4ed8);
    /*background-image: url('ceu.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    /*background-position: center; /* Centraliza a imagem */
}


.caixa-maior{
    background: #00060a;
    opacity: 0.5;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #fff;
    width: calc(100% - 65PX);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;

}

.img-busca {
    width: 20px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade {
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.temp {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #fff;
    margin-top: 20px;
}
